.about {
    width: 100%;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1 {
        font-size: 50px;
        color: white;
        text-align: left;
    }
    & p {
        font-size: 20px;
        color: #dfdfdf;
        text-align: left;
    }
}

.aboutText {
    width: 40%;
    margin: auto calc(20px + 5vw) auto auto;
}

.aboutImg {
    /*height: 80%;*/
    /*min-height: 400px;*/
    width: 40%;
}