.about {
    width: 100%;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1 {
        font-size: 50px;
        color: white;
        text-align: left;
    }
    & p {
        font-size: 20px;
        color: #dfdfdf;
        text-align: left;
    }
}

.aboutText {
    width: 40%;
    margin: auto calc(20px + 5vw) auto auto;
    visibility: hidden;
}

.imgDiv {
    width: fit-content;
    height: fit-content;
    display: block;
    background-color: white;
}

.phoneImg {
    height: 60%;
    bottom: 0;
}
.ipadImg {
    height: 100%;
    bottom: 0;
}