.App {
  text-align: center;

  &>div {
    padding: 0;
  }
}


.simpleSegment {
  margin: 0;
  background-color: #000000;

  & h1 {
    color: white;
    padding-top: 20px;
    font-size: 50px;
    margin-bottom: 0;
  }
  & p {
    color: #dfdfdf;
    max-width: 600px;
    margin: 10px auto auto auto;
    padding-bottom: 30px;
    font-size: 20px;
  }
}

.flexRow {
  color: white;
  background-color: green;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &>div{
    background-color: #000000;
  }
}