.MyRole {
    width: 100%;
    min-height: 20vh;
    margin: 20px 0 20px 0;

}

.HeadText {
    width: 50%;
    margin: 100px auto 50px auto;
    & h1 {
        font-size: 50px;
        color: white;
        text-align: center;
    }
    & p {
        font-size: 20px;
        color: #dfdfdf;
        text-align: center;
    }
}

.FlexList {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 10vh auto 10vh auto;
    overflow: scroll;
    scrollbar-width: none;

    & div {
        width: 30%;
        min-width: 300px;
        background-color: #151515;
        border-radius: 20px;
        border-color: white;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        margin: 0 20px 0 20px;

        & h1 {
            font-size: 30px;
            color: #dfdfdf;
            text-align: center;
            margin-bottom: 0;
        }
        & h2 {
            font-size: 20px;
            color: #dfdfdf;
            text-align: center;
            margin: 0 auto 20px auto;
            width: 80%;
        }
        & p {
            width: 70%;
            font-size: 18px;
            color: #a8a7a7;
            text-align: left;
            margin: auto auto 30px auto;
        }
    }
}