.WTToggle {
    width: 100%;
    overflow: visible;
}

.ToggleContainer {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 20px;
    z-index: 2;
    height: 150px;

    & h2 {
            font-size: 30px;
            color: white;
            text-align: center;
            margin: 20px auto 5px auto;
            width: 80%;
    }
    & p {
        font-size: 20px;
        color: #d7d6d6;
        text-align: center;
        margin: auto;
    }

    .ToggleTextContainer {
        max-width: 500px;
    }

    .ToggleButton {
        display: flex;
        border-radius: 20px;
        justify-content: space-evenly;]
        top: 20px;
        background-color: #0a0a0a;
        transition: 0.2s;

        .ToggleButtonSection {
            border-color: white;
            border-width: 2px;
            border-radius: 2px;
            border-spacing: 10px;
            border-style: none;
            border-bottom-style: ridge;
            width: 230px;
        }
        .ToggleButtonSection:hover {
            scale: 110%;
        }
    }
}

.mini {
    justify-content: right;
    .ToggleTextContainer {
        opacity: 0;
    }
    .ToggleButton {
        scale: 70%;
        width: 300px;

        h2 {
            margin-top: 0px;
        }
    }
    .ToggleButtonSection {
        align-content: center;
    }
}

.selected {
    border-style: ridge !important;
    background-color: #151515;
}